/* Custom CSS style for labelBee interface */

canvas {
    border: 1px solid #d3d3d3;
}

td {
    padding-right: 40px;
    vertical-align: top;
}

.overlay {
  width: 100%; height:100%; 
  position: absolute;   z-index: 100;
  background: rgba(255,255,255, 0.8);
  color: rgba(0,0,0, 1);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: none;
  border: solid 2px red;
}
.overlay:target {
  left: 0px;
  padding: 20px;
  visibility: visible;
  opacity: 1;
  display: block;
  position: absolute;   z-index: 100; 
}
.overlay .closehelp {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #F00;
}

.main {
  position: absolute;
  top: 53px;
/*   margin-top: 53px; */
}
.container {
  width: 100%; /*1170px;*/
      /* border: solid 1pt black; */
}
.canvaswrapper {
    position: relative;
    width: 100%;/*480px;*/
    height: 100%; /*270px;*/
    overflow: visible; 
    /* border: solid 1pt black; */
    border: none;
}
#canvasresize {
    /* border: solid 1pt #F00; */
    overflow: hidden; 
    clip: rect(0, auto, auto, 0);
    padding-right: 16px;
}
.ui-resizable-helper {
	border: 2px dotted #F00;
}


.canvaswrapper > canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}

.outer {
width: 510px;
height: 320px;
overflow: auto;
}

.inner {
    width: 800px;
    height: 600px;
}

.playing {
    background-color: blue;
}
.playing:hover {
    background-color: blue;
}


svg {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

rect {
  fill: #eee;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
}