/* Custom CSS style for labelBee interface */

canvas {
    border: 1px solid #d3d3d3;
}
/* IMPORTANT: position #canvas and #video for overlapping */
/* canvas-container is positioned relative to the last one */
#canvas {
  position: absolute;
  top: 0px;
  right: 0px;
}
#video {
  position: absolute;
  top: 0px;
  right: 0px;
}


td {
    padding-right: 40px;
    vertical-align: top;
}

select{
   box-sizing:border-box;
} 

.overlay {
  width: 100%; height:100%; 
  position: absolute;   z-index: 100;
  background: rgba(255,255,255, 0.8);
  color: rgba(0,0,0, 1);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: none;
  border: solid 2px red;
}
.overlay:target {
  left: 0px;
  padding: 20px;
  visibility: visible;
  opacity: 1;
  display: block;
  position: absolute;   z-index: 100; 
}
.overlay .closehelp {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #F00;
}

.main {
  position: absolute;
  top: 53px;
/*   margin-top: 53px; */
  padding: 10px;
}
.container {
  width: 100%; /*1170px;*/
      /* border: solid 1pt black; */
}
.canvaswrapper {
    position: relative;
    width: 100%;/*480px;*/
    height: 100%; /*270px;*/
    overflow: visible; 
    /* border: solid 1pt black; */
    border: none;
}
#canvasresize {
    /* border: solid 1pt #F00; */
    overflow: hidden; 
    clip: rect(0, auto, auto, 0);
    padding-right: 16px;
}
.ui-resizable-helper {
	border: 2px dotted #F00;
}


.canvaswrapper > canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.text label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}

.outer {
width: 510px;
height: 320px;
overflow: auto;
}

.inner {
    width: 800px;
    height: 600px;
}

.playing {
    background-color: blue;
}
.playing:hover {
    background-color: blue;
}

svg {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}
#svgVisualize {
/*   border: solid 2px red; */
  min-width: 200px;
}

.plotframe {
  fill: #fff;
  stroke: #000;
}
.timeMark {
  fill: #F00;
  fill-opacity: 0.1;
  stroke: #F00;
  stroke-width: 1;
}
.timeMark.thin {
  stroke-width: 1;
}
.timeMark.out {
  fill: none;
  stroke: #F00;
  stroke-dasharray: 2px,2px;
  stroke-width: 3;
}

.axis path, .axis line, .tagAxis path, .tagAxis line {
  fill: none;
  stroke: #000;
}

/* Style for axis ticks */
.axis.x .tick > text {
    font: 12px sans-serif;
}
.axis.t .tick > text.ms_tick {
    font: 8px sans-serif;
}
.axis.t .tick > text.s_tick {
    font: 9px sans-serif;
}
.axis.t .tick > text.m_tick {
    font: 12px sans-serif;
}
.axis.t .tick > text.h_tick {
    font: 14px sans-serif;
}

/* Axis label */
.axis text.label {
    font: 12px sans-serif;
    font-weight: bold;
}

button > p.multiline {
    line-height: 1em;
    margin: 0px;
    font-size: x-small;
}

#quickhelp ul {
    padding-left: 20px;
}
#quickhelp kbd {
    padding: 0px 3px;
    font-size: 90%;
    color: #000;
    background-color: #bbddff;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
    border: black 1px solid;
}

.container.main:-webkit-full-screen{
    top: 0px;
    height: 100%;
    width: 100%;
    overflow:scroll;
}

.subpanel {
    margin: 10px 0px;
/*     border: lightgray solid 1px; */
}


.ui-accordion .ui-accordion-content {
    padding: 10px 10px;
}

}
.subpanel.ui-accordion  .ui-accordion-header {
	display: block;
	cursor: pointer;
	border: 1px red solid;
	position: relative;
	margin: 2px 0 0 0;
	padding: .25em .25em .25em .35em;
	font-size: 100%;
}
.subpanel.ui-accordion  .ui-accordion-content {
/* 	padding: 1em 2.2em; */
	border-top: 0;
	overflow: auto;
}

.subpanel >
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #808080;
  background: #a0a0a0;
	font-weight: normal;
	color: white;
}

#videoComments {
display:block;
vertical-align: top;
width: 100%;
}
textarea[readonly] {
  border: solid 1px #e5e5e5;
}
