data/
perso/
gitlog
gitversion
Icon
env/
migrations/

__pycache__
jsdoc/
*.pyc
labelbee/static/upload/*
labelbee/private/app.sqlite
labelbee/static/data
.htpasswd
labelbee/local_settings.py
~$*
labelbee-comments/
gunicorn_error_logs.log
