data/
perso/
gitlog
gitversion
Icon
env/
migrations/

__pycache__
jsdoc/
*.pyc
labelbee/static/upload/*
labelbee/private/app.sqlite
labelbee/static/data
.htpasswd
labelbee/local_settings.py
~$*
labelbee-comments/

joelNotes
testing/
gunicorn_error_logs.log
labelbee.pid
miscellaneousScripts/videolist-wildbees3.csv
miscellaneousScripts/videolist-wildbees2.csv
miscellaneousScripts/normalized_videolist-wildbees2.csv
