

<!-- Work for modal -->


{% block content %}
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Load JSON</button>

 <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">JSON List</h4>
                        </div>
                        <div class="modal-body">
                          <p>

                          {% for i in tracks %}
                           <button onclick = "jsonFromServer('loadtrack/' + {{userid}} + '/' + '{{i}}' )" > {{i}} </button> <br>

                           {% endfor %}                            
                          
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
{% endblock %}