{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

<script src="labelbee/js/extern/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
<script src="labelbee/js/extern/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<link href="labelbee/js/extern/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" type="text/css">


<h1>User page</h1>

<p>This page is accessible to authenticated user (users that have signed in).</p>

<h3>Tools</h3>
<ul>
  <li><a href="labelbee/gui">labelbee (flask version, load/save to server)</a></li>
  <li><a href="labelbee/labelBee.html">labelbee (static version, no saving to server)</a></li>
  <li><a href="data/">data</a></li>
  <li><a href="data/videos/">videos</a></li>
</ul>

<h3>External links</h3>
<ul>
  </li><a href="https://bigdbee.hpcf.upr.edu">bigdbee webpage</a></li>
</ul>

<meta name="csrf-token" content="{{ csrf_token() }}">
  
<script type="text/javascript">
var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
</script>

{% endblock %}