{% extends "common/page_base.html" %} {# common/page_base.html extends layout.html #}

{% block content %}

<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<link href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">

<meta name="csrf-token" content="{{ csrf_token() }}">

<script type="text/javascript">
    var csrftoken = $('meta[name=csrf-token]').attr('content')

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })
</script>

<h1>Edit video_data #{{video_data.id}}</h1>
<form action="{{ url_for('edit_video_data_page') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class='form-group'>
        <input type="hidden" name="video_data" value="{{video_data.id}}">
        File Name: <input class="form-control" type="text" name="file_name" value="{{ video_data.file_name }}"><br>
        Path: <input class="form-control" type="text" name="path" value="{{ video_data.path }}"><br>
        Timestamp: <input class="form-control" type="text" name="timestamp" value="{{ video_data.timestamp }}"><br>
        Data Type: <input class="form-control" type="text" name="data_type" value="{{ video_data.data_type }}"><br>
        Video (id): <input class="form-control" type="text" name="video" value="{{ video_data.video.id }}"><br>
    </div>

    <input class="btn btn-primary" type="submit" value="Edit">
</form>
<br>
<br>




{% endblock %}