{% extends "common/page_base.html" %} {# common/page_base.html extends layout.html #}

{% block content %}

<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<link href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">

<meta name="csrf-token" content="{{ csrf_token() }}">

<script type="text/javascript">
    var csrftoken = $('meta[name=csrf-token]').attr('content')

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })
</script>

<h1>Edit video_data #{{video_data.id}}</h1>
<form action="{{ url_for('edit_video_data_page') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class='form-group'>
        <input type="hidden" name="dataset" value="{{dataset.id}}">
        Dataset Name: <input class="form-control" type="text" name="name" value="{{ dataset.name }}"><br>
        Description: <textarea class="form-control" type="text" name="description">{{ dataset.description }}</textarea><br>
    </div>

    <input class="btn btn-primary" type="submit" value="Edit">
</form>
<br>
<br>
<form action="{{ url_for('delete_dataset') }}?dataset={{ dataset.id }}" method="POST">
    {{ form.hidden_tag() }}
    <div class='form-group'>
        <input class="btn btn-danger" type="submit" name="Delete Dataset" value="Delete Dataset"><br>
    </div>
</form>



{% endblock %}