{% extends "common/page_base.html" %} {# common/page_base.html extends layout.html #}

{% block content %}

<h1>User page</h1>

<p>You are currently logged as 
  <span style="font-family: monospace; border: solid gray 1px; padding: 3px;">{{current_user.first_name or current_user.user_auth.username}}</span>
  </p>
  
<h3>Tools</h3>
<ul>
  <li><a href="labelbee/gui">Labelbee GUI</a></li>
  <li><a href="videos">Browse database: videos and their annotation</a></li>
</ul>
<h3>Access to raw data</h3>
<ul>
  <li><a href="data/">raw data</a></li>
  <li><a href="data/videos/">raw videos</a></li>
</ul>

<h3>External links</h3>
<ul>
  </li><a href="https://bigdbee.hpcf.upr.edu">bigdbee webpage</a></li>
</ul>

<meta name="csrf-token" content="{{ csrf_token() }}">

<script type="text/javascript">
  var csrftoken = $('meta[name=csrf-token]').attr('content')

  $.ajaxSetup({
    beforeSend: function (xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    }
  })
</script>

{% endblock %}