{% extends "common/page_base.html" %} {# common/page_base.html extends layout.html #}

{% block content %}

<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<link href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="video.css" rel="stylesheet">

<meta name="csrf-token" content="{{ csrf_token() }}">

<script type="text/javascript">
    var csrftoken = $('meta[name=csrf-token]').attr('content')

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })
</script>

{% if dataset != None %}
<table class="table" id="video_info">
    <thead>
        <th>Dataset ID</th>
        <th>Dataset Name</th>
        <th>Description</th>
        <th>User Created</th>
        <th>Date and Time Created</th>
    </thead>
    <tbody>
        <tr>
            <td>{{dataset.id}}</td>
            <td>{{dataset.name}}</td>
            <td>{{dataset.description}}</td>
            <td>{{dataset.created_by}}</td>
            <td>{{dataset.timestamp}}</td>
        </tr>
    </tbody>
</table>

<a href="{{ url_for('edit_dataset_page')}}?dataset={{ dataset.id }}">
    <button type="button" onclick="" class="btn btn-primary">Edit Dataset</button>
</a>
{% endif %}

<h1>Videos: {{ uri }} </h1>


<table class="table" id="videos_table">
    <thead>
        <tr>
            <th>Video Name</th>
            <th>Colony</th>
            <th>Date and Time</th>
            <th>Video ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </tbody>
    <tfoot>
        <tr>
            <th>Video Name</th>
            <th>Colony</th>
            <th>Date and Time</th>
            <th>Video ID</th>
        </tr>
    </tfoot>
    <!--  -->
</table>


<script>
    $(document).ready(function () {
        
        $('#videos_table tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );
        var table = $('#videos_table').DataTable({
            // load the data
            "ajax": "{{ url_for('videolist_get_v2') }}",
            // put the data into the table
            "columns": [
                { "data": "file_name", "name": "file_name",
                    // convert file_name to link
                    fnCreatedCell: function (nTd, cellData, rowData, iRow, iCol) {
                        $(nTd).html("<a href='{{ url_for('video_data_page') }}?videoid=" + rowData.id + "&video_file=" + rowData.path + "/" + rowData.file_name + "'>" + rowData.path + "/" + rowData.file_name+"</a>");
                    }
                },
                { "data": "colony", "name": "colony" },
                { "data": "timestamp", "name": "timestamp" },
                { "data": "id", "name": "id" }
            ],
            "order": [[2, "desc"]],

            // Search function
            initComplete: function () {
                // Apply the search
                this.api().columns().every( function () {
                    var that = this;
    
                    $( 'input', this.footer() ).on( 'keyup change clear', function () {
                        if ( that.search() !== this.value ) {
                            that
                                .search( this.value )
                                .draw();
                        }
                    } );
                } );
            }
        });
    });
</script>



{% endblock %}