{% extends "common/page_base.html" %} {# common/page_base.html extends layout.html #}

{% block content %}

<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<link href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">

<meta name="csrf-token" content="{{ csrf_token() }}">

<script type="text/javascript">
    var csrftoken = $('meta[name=csrf-token]').attr('content')

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })
</script>

<table class="table" id="video_info">
    <thead>
        <th>Video ID</th>
        <th>Video Name</th>
        <th>Time Recorded</th>
        <th>Location</th>
        <th>Colony</th>
        <th>Frames</th>
        <th>Height</th>
        <th>Width</th>
    </thead>
    <tbody>
        <tr>
            <td>{{video.id}}</td>
            <td>{{video.path + "/" + video.file_name}}</td>
            <td>{{video.timestamp}}</td>
            <td>{{video.location}}</td>
            <td>{{video.colony}}</td>
            <td>{{video.frames}}</td>
            <td>{{video.height}} px</td>
            <td>{{video.width}} px</td>
        </tr>
    </tbody>
</table>

<a href="{{ url_for('edit_video_page')}}?video={{ video.id }}">
    <button type="button" onclick="" class="btn btn-primary">Edit Video</button>
</a>

<a href="{{ url_for('labelbee_user_page')}}#video_id={{ video.id }}" target="_blank">
    <button type="button" onclick="" class="btn btn-primary">Open Video in LabelBee</button>
</a>


<h1>Video Data: {{ uri }} </h1>


<table class="table" id="video_data_table">
    <thead>
        <th>ID</th>
        <th>Actions</th>
        <th>File Name</th>
        <th>Data Type</th>
        <th>Date and Time</th>
        <th>Created By</th>
    </thead>
    <tbody id="videosBody">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <!--  -->
</table>


<script>
    $(document).ready(function () {
        $('#video_data_table').DataTable({
            "ajax": "{{ url_for('videodata_get_v2') }}?video_id={{ video.id }}&allusers=True",
            "columns": [
            { "data": "id", "name": "id" },
            { "data": "id", "name": "actions", 
              fnCreatedCell: function (nTd, cellData, rowData, iRow, iCol) {
                    $(nTd).html("<a class='btn btn-default btn-xs' href='{{ url_for('video_data_details_page') }}" + "?video={{video.id}}" + "&video_data=" + rowData.id + "'>Details</a>" +
                                "<a class='btn btn-default btn-xs' href='{{ url_for('labelbee_user_page')}}#video_data="+ rowData.id +"&video_id={{ video.id }}' target='_blank'>GUI</a>");
                } 
            },
            { "data": "file_name", "name": "file_name" ,
                // convert file_name to link
                fnCreatedCell: function (nTd, cellData, rowData, iRow, iCol) {
                    $(nTd).html(rowData.file_name).addClass("small");
                }
            },
            { "data": "data_type", "name": "data_type" },
            { "data": "timestamp", "name": "timestamp" },
            { "data": "created_by_id", "name": "created_by_id" },
            ],
            "order": [[2, "desc"]]
        });
    });
</script>



{% endblock %}