{% extends "common/page_base.html" %} {# common/page_base.html extends layout.html #}

{% block content %}

<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<link href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">

<meta name="csrf-token" content="{{ csrf_token() }}">

<script type="text/javascript">
    var csrftoken = $('meta[name=csrf-token]').attr('content')

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })
</script>



<h1>Videos: {{ uri }} </h1>



<table class="table" id="videos_table">
    <thead>
        <th>File Name</th>
        <th>Data Type</th>
        <th>Date and Time</th>
        <th>Created By</th>
    </thead>
    <tbody id="videosBody">
        {% for item in video_data %}
        <tr>
            <td><a href="/labelbee/gui?video_url={{ video_url }}&tag_file={{ item.path + '/' + item.file_name}}">{{ item.file_name }}</a></td>
            <td>{{ item.data_type }}</td>
            <td>{{ item.timestamp }}</td>
            <td>{{ item.created_by }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <!--  -->
</table>


<script>
    $(document).ready(function () {
        $('#videos_table').DataTable({
            "order": [[2, "desc"]]
        });

    });
</script>



{% endblock %}