{% extends "common/page_base.html" %} {# common/page_base.html extends layout.html #}

{% block content %}

<h1>Videos: {{ uri }} </h1>


<div class="col-md-3">
    <div class="form-group" max_width=100>
        <input type="text" onkeypress="is_enter(event)" class="form-control" placeholder="Enter Search">
    </div>
</div>


<table class="table" id="videos_table">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Colony</th>
        <th>Date and Time</th>
    </thead>
    <tbody id="videosBody"></tbody>
</table>

<script>
    let is_enter = (e) => {
        if (e.keyCode === 13) {
            search();
        }
    }

    let search = () => {
        alert("started")
        $.post("https://www.easyprogramming.net/heroes.json", (data) => {
            $(data).each((i, hero) => {
                $("#videosBody").append($("<tr>")
                    .append($("<td>").append(hero.strength))
                    .append($("<td>").append(hero.name))
                    .append($("<td>").append(hero.superheroName))
                    .append($("<td>").append(hero.city)))

            });
        })
            .done(() => {
                alert("Completed");
            })
            .always(() => {
                alert("running");
            });
    }
</script>

{% endblock %}