{% extends "common/page_base.html" %} {# common/page_base.html extends layout.html #}

{% block content %}

<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<link href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">

<meta name="csrf-token" content="{{ csrf_token() }}">

<script type="text/javascript">
    var csrftoken = $('meta[name=csrf-token]').attr('content')

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })
</script>

<h1>Tag: </h1>

<table class="table" id="video_info">
    <thead>
        <th>File Name</th>
        <th>Path</th>
        <th>Data Type</th>
        <th>Date and Time</th>
        <th>Video</th>
        <th>Created By</th>
    </thead>
    <tbody>
        <tr>
            <td>{{video_data.file_name}}</td>
            <td>{{video_data.path}}</td>
            <td>{{video_data.data_type}}</td>
            <td>{{video_data.timestamp}}</td>
            <td>{{video_data.video.id}}</td>
            <td>{{video_data.created_by.first_name + " " + video_data.created_by.last_name}}</td>
        </tr>
    </tbody>
</table>

<a href="{{ url_for('edit_video_data_page')}}?video_data={{ video_data.id }}">
    <button type="button" onclick="" class="btn btn-primary">Edit Metadata</button>
</a>
<br>
<br>
<a href="{{ url_for('labelbee_user_page')}}?video_url={{ video_url }}&tag_file={{ tag_file }}", target="_blank">
    <button type="button" onclick="" class="btn btn-primary">Open in LabelBee</button>
</a>


<script>
    $(document).ready(function () {
        $('#video_data_table').DataTable({
            "order": [[2, "desc"]]
        });

    });
</script>



{% endblock %}